.menu .menuburguer {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    top: 12px;
    right: 5px;
}


.menu {
    margin-right: 30px;
    margin-top: 30px;
}


.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    top: 5px;
    right: 5px;
    opacity: 0;
    cursor: pointer;
}




.menu .menuburguer span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #432109;
    border-radius: 3px;
    transition: all ease 1.5s;
}


.menu .menu-faketrigger:checked~menu.menuburguer span {
    background-color: #432109;
}


.menu .menu-faketrigger:checked~.menuburguer span:nth-child(1) {
    transform-origin: 0% 100%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-faketrigger:checked~.menuburguer span:nth-child(2) {
    opacity: 0;
}

.menu .menu-faketrigger:checked~.menuburguer span:nth-child(3) {
    transform-origin: 0% 0%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
    position: absolute;
    z-index: 998;
    right: 0;
    top: 0;
    width: 300px;
    height: calc(100vh-100px);
    padding-top: 100px;
    background-color: #fff;
    margin-right: -300px;
    transition: all ease 1.5s;
}

.menu .menu-faketrigger:checked~ul {
    margin-right: 0;
}

.menu ul li {
    padding: 10px 30px;
}

.menu ul li:hover {
    background-color: #ededed;
}

.menu ul li a {
    text-decoration: none;
    color: #432109;
    font-size: 22px;
}

.menu ul li a:hoover {
    color: #fff;
}