@media (max-width: 1130px) {
    picture {
        width: 100%;
        height: 100%;
    }

    article {
        width: 40%;
    }

}

@media (max-width: 768px) {
    header {
        height: 4.5rem;
    }


    main>section.list {
        grid-template-columns: auto auto;
    }


    main>section {
        font-size: 0.9rem;
    }


    footer {
        height: 2.5rem;
    }

    article#rv {
        width: 50%;
    }
}

@media (max-width: 500px) {
    main>section.list {
        grid-template-columns: auto;
    }
}